.o-section {
	z-index: 999;
}

.o-grid {
	border: none;
}

.c-header {
	background: url(./img/bruges.jpg);
	background-repeat: no-repeat;
	background-size: cover;
}

.c-aboutme__grid {
	color: black;
}
